.lightbox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #150050;
}

.lightbox-input {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.share-scheme {
    width: 100%;
    height: 100%;
}

.share-scheme .button {
    margin-left: 0px;
}

#share-username {
    width: 40%;
    padding-left: 8px;
}

.received-schemes {
    width: 100%;
    height: 100%;
}

.error-message {
    font-size: 18px;
    color: #fb2576;
    font-weight: 500;
    margin-left: 1vh;
}

#close-button {
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-size: 40px;
    color: red;
}