/* General Stylings */
.background {
    background-color: #150050;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.title {
    font-size: 38px;
    color: #fb2576;
    font-weight: 700;
}

.subtitle {
    font-size: 28px;
    color: #fb2576;
    font-weight: 500;
}

.button {
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #3f0071;
    width: auto;
    margin: 1vh;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #430a72;
}

/* Color Schemes */
.color-options {
    width: 33%;
    text-align: left;
}

.color-options label {
    margin-left: 1vh;
}

.select-box {
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #3f0071;
    width: 52%;
    margin: 1vh;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-box:hover {
    background-color: #430a72;
}

.color-block {
    border: solid;
    border-color: black;
    border-width: 4px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-left: 1vh;
}

.scheme-message {
    font-size: 18px;
    color: #fb2576;
    font-weight: 500;
    margin-left: 1vh;
}

#scheme-share-input {
    width: 45%;
    padding-left: 5px;
}

#scheme-share-button {
    margin-left: 0px;
}

/* Level-1 Intervals (Note Relationships) */
.interval-options {
    width: 33%;
    text-align: center;
}

.interval-grid {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}

.interval-grid .interval {
    display: flex;
    flex-direction: row;
    background: #3f0071;
    margin: 1%;
    border: solid;
    border-color: black;
    border-width: 4px;
    align-items: center;
}

.delete-interval {
    cursor: pointer;
    color: red;
    font-size: 1.7rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0.14rem;
}

.interval-container {
    width: 60%;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}

.percentage-slider-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
}

.percentage-slider {
    min-width: none;
    width: 80%;
}

.interval-color {
    min-width: 20px;
    width: 20px;
    padding: 0px;
    margin: 2%;
    border:none;
    background-color: transparent;
}

/* Microphone Settings */
.mic-options {
    width: 33%;
    text-align: right;
}

.mic-options label {
    margin-right: 1vh;
}

.input-field-volume-main {
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #3f0071;
    width: 66%;
    height: 4vh;
    color: white;
    font-size: 20px;
    float: right;
    margin-right: 1vh;
}

#volume-main {
    width: 90%;
}

/* Dividers */
.subsection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subsection-2 {
    display: flex;
    width: 96%;
    flex-direction: row;
    justify-content: space-between;
}

.subsection-3 {
    display: flex;
    flex-direction: row-reverse;
}